body {
    margin: 3%;
    background-image: url('../js/src/assets/images/background/baloons1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 195.5px;
    height: auto;
}

#img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#container{
    background-color:#ffffff;
    opacity: 55%;
    color: #643bd4;
    border-style: inset;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}


.node.node--type-question.node--promoted.node--view-mode-teaser{
    border-style: solid;
    padding: 1.5%;
    padding-right: 3%;
    border-color: #1324a6;
    margin: 1%;
    background-color: #ffffff40;
}

.view-content{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.js-form-item.form-item.js-form-type-entity-autocomplete.form-type-entity-autocomplete.js-form-item-field-topic-target-id.form-item-field-topic-target-id{
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.view-filters{
    border-style: solid;
    border-color: #1324a6;
    background-color: #ffffff40;
    display: flex;
    justify-content: center;
    margin: 1%;
}

.form--inline.clearfix{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#edit-submit-question-list{
    font-size: xx-large;
    margin: 5px;
    border-color: #1324a6;
    border-style: solid;
}

#edit-field-topic-target-id{
    height: 38px;
    width: 510px;
    border-color: #1324a6;
    border-style: solid;
}

.js-form-item.form-item.js-form-type-entity-autocomplete.form-type-entity-autocomplete.js-form-item-field-topic-target-id.form-item-field-topic-target-id{
    font-size: x-large;
    font-weight: bolder;
}

.field.field--name-title.field--type-string.field--label-hidden{
    font-size: xx-large;
}

.clearfix.text-formatted.field.field--name-body.field--type-text-with-summary.field--label-hidden.field__item{
    font-size: x-large;
}
