body {
    margin: 3%;
    background-image: url('../js/src/assets/images/background/baloons1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 195.5px;
    height: auto;
}

#img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#container{
    background-color:#ffffff;
    opacity: 55%;
    color: #643bd4;
    border-style: inset;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}